<h1>Список компаний</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Телефон</th>
      <th>Улица</th>
      <th>Номер дома</th>
      <th>Офис</th>
      <th>Категория</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.telephone %></td>
        <td><%= company.street %></td>
        <td><%= company.street_number %></td>
        <td><%= company.apt %></td>
        <td><%= company.category_id %></td>
        <td><%= link_to 'Показать', company %></td>
        <td><%= link_to 'Редактировать', edit_company_path(company) %></td>
        <td><%= link_to 'Удалить', company, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= search_form_for @search do |f| %>
  <%= f.label :name_cont, 'Поиск по названию' %>
  <%= f.text_field :name_cont %>
  <br>
  <%= f.label :telephone_cont, 'Поиск по телефону' %>
  <%= f.text_field :telephone_cont %>
  <br>
  <%= f.label :street_cont, 'Поиск по улице' %>
  <%= f.text_field :street_cont %>
  <br>
  <%= f.submit "Поиск" %>
<% end %>

<%= paginate @companies %>

<% if user_signed_in? then %>
  <%= link_to 'Добавить компанию', new_company_path %>
<% end %>
