<!DOCTYPE html>
<html>
<head>
  <title>Каталог | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <br>
  <%= render 'devise/menu/registration_items' %> 
  <%= render 'devise/menu/login_items' %>
  <%= link_to 'Помощь',text_pages_help_path %>
  <%= link_to 'О нас', text_pages_about_path %>
  <br>

<br>

<% Category.find_each do |category| %>
        <%= link_to category.name, root_path(category: category.id) %>
<% end %>

<br>
<%= flash.now[:notice] %>

<%= yield %>

</body>
</html>
